<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Velvet Bakery - Registro</title>
    </head>
    <body class="d-flex flex-column min-vh-100" style="background-image: "../../static/img/backery background.jfif"">

        <!-- Formulario -->
        <section th:fragment="registro">
            <div class="container py-5">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="card border-0 shadow rounded-3 p-4 mb-5">
                            <div class="card-body">
                                <h2 class="text-center fw-bold mb-4" style="color: #b38b59;">Registrarse</h2>
                                <form th:action="@{/usuario/guardar}" method="POST">
                                    <div class="mb-3">
                                        <label for="cedula" class="form-label fw-medium text-secondary">Cédula</label>
                                        <input type="text" class="form-control form-control-lg rounded-3" id="cedula" name="cedula" required="true">
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="nombre" class="form-label fw-medium text-secondary">Nombre</label>
                                                <input type="text" class="form-control form-control-lg rounded-3" id="nombre" name="nombre" required="true">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="apellidos" class="form-label fw-medium text-secondary">Apellidos</label>
                                                <input type="text" class="form-control form-control-lg rounded-3" id="apellidos" name="apellidos" required="true">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="mb-3">
                                        <label for="correo" class="form-label fw-medium text-secondary">Correo electrónico</label>
                                        <input type="email" class="form-control form-control-lg rounded-3" id="correo" name="correo" required="true">
                                    </div>

                                    <div class="mb-3">
                                        <label for="telefono" class="form-label fw-medium text-secondary">Número de teléfono</label>
                                        <input type="tel" class="form-control form-control-lg rounded-3" id="telefono" name="telefono" required="true">
                                    </div>

                                    <div class="mb-3">
                                        <label for="direccion" class="form-label fw-medium text-secondary">Dirección</label>
                                        <input type="text" class="form-control form-control-lg rounded-3" id="direccion" name="direccion" required="true">
                                    </div>

                                    <div class="mb-3">
                                        <label for="password" class="form-label fw-medium text-secondary">Contraseña</label>
                                        <input type="password" class="form-control form-control-lg rounded-3" id="password" name="password" required="true">
                                    </div>

                                    <div class="mb-3">
                                        <label for="confirmPassword" class="form-label fw-medium text-secondary">Verificar contraseña:</label>
                                        <input type="password" class="form-control form-control-lg rounded-3" id="confirmPassword" name="confirmPassword" required="true">
                                    </div>

                                    <button type="submit" class="btn btn-lg w-100 text-uppercase fw-bold py-3 mt-4 rounded-3 text-white" style="background-color: #00b379;">REGISTRARSE</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!---index cuerpo--->
        <section th:fragment="index">
            <div class="mycontainer" > 
                <div class="content">
                    <h1 class="h1"><b id="h1">Life is short,</b> <br> <b id="h12">eat dessert first</b></h1>

                    <div class="container">
                        <div class="row">
                            <div class="column-66">
                                <h1 class="xlarge-font"><b id="cookies">Cookies</b></h1>
                                <h1 class="large-font" style="color:MediumSeaGreen;"><b id="loveem">We all love them, right?</b></h1>
                                <p><span style="font-size:36px" id="eatone">Just eat one.</span> <span id="thankuslater">You will thank us later.</span></p>
                                <a href="/cookie"><button class="button" style="background-color:MediumSeaGreen">Order Now</button></a>
                            </div>
                            <div class="column-33">

                                <img src="img/Vegan_Chocolate_Mini_Cakes_With_Coconut_Milk_Ganache.jpg" alt="" class="pictures"/>
                            </div>
                        </div>
                    </div>

                    <div class="container" style="background-color:transparent">
                        <div class="row">
                            <div class="column-33">
                                <img src="img/cakeshop.png" alt="" class="mypictures"/>

                            </div>
                            <div class="mycolumn-66">
                                <h1 class="xlarge-font"><b>What about a snack?</b></h1>
                                <h1 class="large-font" style="color:MediumSeaGreen;"><b>You will not regret</b></h1>
                                <p>Try our best croissants just for $8! We have several options in case you want something different too, make sure you take a look!</p>
                                <a href="/snack"><button class="button" style="background-color:MediumSeaGreen">Take me there!</button></a>
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="column-66">
                                <h1 class="xlarge-font"><b>We have the best cakes in town</b></h1>
                                <h1 class="large-font" style="color:MediumSeaGreen;"><b>Need one for a special occasion?</b></h1>
                                <p><span style="font-size:36px">We've got you covered!</span> Just let us know exactly what type of cake you are looking for and get it for you.</p>
                                <a href="/cookie"><button class="button">Yes, please</button></a>
                            </div>
                            <div class="column-33">
                                <img src="img/strawberry cake.jpg" alt="" class="pictures">
                            </div>
                        </div>
                    </div>

                    <div class="container" style="background-color:transparent">
                        <div class="row">
                            <div class="column-33">
                                <img src="img/stuffed donut.jpg" alt="" class="mypictures"/>
                            </div>
                            <div class="mycolumn-66">
                                <h1 class="xlarge-font"><b>Shut up and give me a donut</b></h1>
                                <h1 class="large-font" style="color:MediumSeaGreen;"><b>We also have that</b></h1>
                                <p>Make sure you check out our best donuts, we have stuffed donuts too! Only for $4 </p>
                                <a href="/donut"><button class="button" style="background-color:MediumSeaGreen">I want a donut</button></a>
                            </div>
                        </div>
                    </div>

                    <div class="flex-container">
                        <div class="flex-child magenta">
                            <div class="fondodiv"> 
                                <h1 class="myxlarge-font"><b>Freshed baked cakes shipped <br> nationwide</b></h1>
                                <p class="textodiv">Make sure you check out our best donuts, we have stuffed donuts too! Only for $4 </p>
                            </div>
                            <a href="order.html"><button class="mybutton" style="background-color:MediumSeaGreen">Ship me some!</button></a>
                            <img src="img/backery background.jfif" class=""/>

                        </div>
                        <div class="flex-child green">
                            <div class="fondodiv2"> 
                                <h1 class="myxlarge-font"><b>What exactly are you waiting for?</b></h1>
                            </div>
                            <img src="img/backery background.jfif" class=""/>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!---About us body--->
        <section th:fragment="AboutUs">
         <div class="mycontainer"> 

            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="column-66">
                           <h1>A Little About Us</h1> <br>
                <p>At Velvet, we are an artisan bakery located in the heart of Costa Rica. Since our start in 2010, we have been dedicated to producing 
                    high-quality baked goods using only fresh and natural ingredients. We take pride in offering our customers a unique experience in every bite. <br><br>

                    Our bakers and pastry chefs have extensive experience in the bakery and pastry industry. 
                    We combine classic and modern techniques to create delicious and unique products that never go out of style. 
                    From our freshly baked breads to our hand-decorated cakes, each of our products is a true delight for the senses. <br><br>

                    At Velvet, our goal is to provide our customers with the best bakery and pastry experience. We strive to exceed your 
                    expectations and provide you with high-quality products that make you smile. Come visit us and enjoy a true culinary pleasure at Velvet. 
                    We're looking forward to seeing you!</p>
                <h1> Our values</h1> <br><br>
                <p>At Velvet, we hold ourselves to high standards of excellence and integrity. We are committed to providing our customers with high-quality 
                    baked goods while also promoting sustainability and social responsibility. <br><br>

                    Quality: We believe that quality should be the cornerstone of everything we do. That's why we use only fresh and natural ingredients in our products, and we never compromise on taste or quality. <br><br>

                    Innovation: We are passionate about innovation and creativity. Our team of bakers and pastry chefs is constantly experimenting with new flavors, techniques, and designs to bring you unique and delicious products. <br><br>

                    Sustainability: We care deeply about the environment and strive to minimize our impact on the planet. We use sustainable packaging and materials whenever possible, and we source our ingredients locally to reduce our carbon footprint. <br><br>
                </p> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="container" style="background-color:transparent;">
                <div class="row">
                    <div class="column-66">
                        <h2>first dessert made</h2>
                        <figure>
                           <img src="../../static/img/Vegan_Chocolate_Mini_Cakes_With_Coconut_Milk_Ganache1.jpg" alt=""/>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
        </section>
    </body>
</html>