<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xlms:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:fragment="head">
        <title>Velvet Bakery</title>
        <meta charset="UTF-8"/>
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
            <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
            <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
            <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
            <script th:src="@{/js/idioma.js}"></script>
            <link rel="stylesheet" href="../css/index.css"/>   
            <link rel="stylesheet" href="../css/about_us.css"/> 
            <link rel="stylesheet" href="../css/menu.css"/> 
            <link rel="stylesheet" href="../css/order.css"/>
            <link rel="stylesheet" href="../css/productos.css"/>
    </head>
    <body>
        <header th:fragment="header" class="bg-white">
            <div class="container py-3">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <a th:href="@{/}" class="d-flex align-items-center text-decoration-none">
                            <!--<img th:src="@{/img/Velvet Logo.png}" alt="Velvet Bakery" width="200" class="img-fluid me-2"/>-->
                            <img src="https://drive.google.com/thumbnail?id=1EGvOTfjuy6cqX76P4ckltE13oP-hlcKL&sz=s800" alt="Velvet Bakery" width="200" class="img-fluid me-2"/>
                        </a>
                    </div>
                    <div class="col d-none d-lg-flex justify-content-center">
                        <a class="text-decoration-none text-dark mx-4 fw-normal" th:href="@{/aboutus/about_us}" id="AboutUs">[[#{boton.about_us}]]</a>
                        <a class="text-decoration-none text-dark mx-4 fw-normal" th:href="@{/menu/menu}" id="Menu">[[#{boton.menu}]]</a>
                        <a class="text-decoration-none text-dark mx-4 fw-normal" th:href="@{/ubicacion/ubicacion}" id="Locations">[[#{boton.ubicacion}]]</a>
                        <div class="dropdown mx-4" sec:authorize="hasRole('ROLE_ADMIN')">
                            <a class="dropdown-toggle text-decoration-none text-dark fw-normal" href="#" role="button" id="adminDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                [[#{boton.admin}]]
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="adminDropdown">
                                <li><a class="dropdown-item" th:href="@{/usuario/listado}">[[#{boton.usuarios}]]</a></li>
                                <li><a class="dropdown-item" th:href="@{/producto/producto}">[[#{boton.productos}]]</a></li>
                            </ul>
                        </div>
                        <!---<a class="text-decoration-none text-dark mx-4 fw-normal" th:href="@{/mostrarcarrito}" id="Cart">[[#{boton.cart}]]</a>--->
                    </div>
                    <div class="col-auto ms-auto d-flex align-items-center">
                        <a class="btn rounded-4 px-4 py-3 me-3 text-white fw-bold d-flex align-items-center gap-2" style="background-color:#00B67A;" th:href="@{/carrito/order}" id="OrderNow">
                            <!--<img th:src="@{/img/Carrito.png}" alt="Carrito" style="width: 25px; height: 25px;">-->
                            <img src="https://drive.google.com/thumbnail?id=1ZuVq39ZDtSQSTLws8Q1V3LDsqTv5pcbC&sz=s800" alt="Carrito" style="width: 25px; height: 25px;">
                                [[#{boton.orden}]]
                        </a>

                        <ul class="navbar-nav" sec:authorize="!isAuthenticated()">
                            <a class="btn btn-link text-dark text-decoration-none fw-normal" th:href="@{/login}" id="Login">[[#{plantilla.registro}]]</a>                          
                        </ul>
                        <ul class="navbar-nav" sec:authorize="isAuthenticated()">
                            <li class="nav-item my-auto">
                                <form method="post" th:action="@{/logout}">
                                    <button class="btn rounded-4 px-4 py-3 me-3 text-white fw-bold d-flex align-items-center gap-2" style="background-color:#B39B96" type="submit">
                                        [[#{boton.cerrarsesion}]]
                                    </button>
                                </form>
                            </li>                            
                        </ul>
                    </div>
                </div>
            </div>
        </header>

        <!-- FOOTER -->
        <footer th:fragment="footer" class="mt-5 py-3 border-top bg-white">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <a th:href="@{?lang=es}" class="btn btn-outline-secondary btn-sm me-2">[[#{boton.traducir.es}]]</a>
                        <a th:href="@{?lang=en}" class="btn btn-outline-secondary btn-sm">[[#{boton.traducir.en}]]</a>
                    </div>
                    <div class="col-md-6 text-end">
                        <p class="mb-1">[[#{plantilla.derechos}]]</p>
                        <p class="mb-1">
                            <a th:href="@{/terms_of_service}" class="text-decoration-none">[[#{plantilla.terminos}]]</a>
                            <span class="mx-2">|</span>
                            <a th:href="@{/privacy_policy}" class="text-decoration-none">[[#{plantilla.politica}]]</a>
                        </p>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>