<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Velvet Bakery - Registro</title>
    </head>
    <body class="d-flex flex-column min-vh-100" style="background-image: "../img/backery background.jfif"">
        <!---Cakes body--->
        <section th:fragment="Emparedados">
            <div class="containerC py-5">
                <h2 class="titulo-cakes text-center mb-5">[[#{emparedados.titulo}]]</h2>
                <div class="row row-cols-1 row-cols-md-3 g-4">                   
                    <!-- Producto 1 -->
                    <div class="col">
                        <div class="card h-100 shadow-sm rounded-4 border-0">
                            <img src="../img/zanahoria_.jpeg" class="card-img-top rounded-top-4" alt="Producto">
                                <div class="card-body text-center">
                                    <h5 class="card-title">Producto</h5>
                                    <div class="d-flex justify-content-center align-items-center gap-2 mt-3">
                                        <input type="number" min="1" max="99" value="1" class="form-control w-25 text-center">
                                            <button class="btn btn-success rounded-pill px-3">[[#{añadir.carrito}]]</button>
                                    </div>
                                </div>
                        </div>
                    </div>
                    <!-- Producto 2 -->
                    <div class="col">
                        <div class="card h-100 shadow-sm rounded-4 border-0">
                            <img src="../img/zanahoria_.jpeg" class="card-img-top rounded-top-4" alt="Producto">
                                <div class="card-body text-center">
                                    <h5 class="card-title">Producto</h5>
                                    <div class="d-flex justify-content-center align-items-center gap-2 mt-3">
                                        <input type="number" min="1" max="99" value="1" class="form-control w-25 text-center">
                                            <button class="btn btn-success rounded-pill px-3">[[#{añadir.carrito}]]</button>
                                    </div>
                                </div>
                        </div>
                    </div>

                    <!-- Producto 3 -->
                    <div class="col">
                        <div class="card h-100 shadow-sm rounded-4 border-0">
                            <img src="../img/zanahoria_.jpeg" class="card-img-top rounded-top-4" alt="Producto">
                                <div class="card-body text-center">
                                    <h5 class="card-title">Producto</h5>
                                    <div class="d-flex justify-content-center align-items-center gap-2 mt-3">
                                        <input type="number" min="1" max="99" value="1" class="form-control w-25 text-center">
                                            <button class="btn btn-success rounded-pill px-3">[[#{añadir.carrito}]]</button>
                                    </div>
                                </div>
                        </div>
                    </div>

                    <!-- Producto 4 -->
                    <div class="col">
                        <div class="card h-100 shadow-sm rounded-4 border-0">
                            <img src="../img/zanahoria_.jpeg" class="card-img-top rounded-top-4" alt="Producto">
                                <div class="card-body text-center">
                                    <h5 class="card-title">Producto</h5>
                                    <div class="d-flex justify-content-center align-items-center gap-2 mt-3">
                                        <input type="number" min="1" max="99" value="1" class="form-control w-25 text-center">
                                            <button class="btn btn-success rounded-pill px-3">[[#{añadir.carrito}]]</button>
                                    </div>
                                </div>
                        </div>
                    </div>

                    <!-- Producto 5 -->
                    <div class="col">
                        <div class="card h-100 shadow-sm rounded-4 border-0">
                            <img src="../img/zanahoria_.jpeg" class="card-img-top rounded-top-4" alt="Producto">
                                <div class="card-body text-center">
                                    <h5 class="card-title">Producto</h5>
                                    <div class="d-flex justify-content-center align-items-center gap-2 mt-3">
                                        <input type="number" min="1" max="99" value="1" class="form-control w-25 text-center">
                                            <button class="btn btn-success rounded-pill px-3">[[#{añadir.carrito}]]</button>
                                    </div>
                                </div>
                        </div>
                    </div>

                    <!-- Producto 6 -->
                    <div class="col">
                        <div class="card h-100 shadow-sm rounded-4 border-0">
                            <img src="../img/zanahoria_.jpeg" class="card-img-top rounded-top-4" alt="Producto">
                                <div class="card-body text-center">
                                    <h5 class="card-title">Producto</h5>
                                    <div class="d-flex justify-content-center align-items-center gap-2 mt-3">
                                        <input type="number" min="1" max="99" value="1" class="form-control w-25 text-center">
                                            <button class="btn btn-success rounded-pill px-3">[[#{añadir.carrito}]]</button>
                                    </div>
                                </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </body>
</html>