<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Velvet Bakery - Registro</title>
    </head>
    <body class="d-flex flex-column min-vh-100" style="background-image: "../img/backery background.jfif"">
        <!---About us body--->
        <section th:fragment="AboutUs">
            <div class="containerAU" >
                <img src="../img/Strawberry Cake Roll Love and Olive Oil.jpg" alt="about us" class="ImagenAboutAU" >
                    <div class="contentAU">
                        <h1 class="t">A Little About Us</h1> <br>
                            <p class="te">At Velvet, we are an artisan bakery located in the heart of Costa Rica. Since our start in 2010, we have been dedicated to producing 
                                high-quality baked goods using only fresh and natural ingredients. We take pride in offering our customers a unique experience in every bite. <br><br>

                                        Our bakers and pastry chefs have extensive experience in the bakery and pastry industry. 
                                        We combine classic and modern techniques to create delicious and unique products that never go out of style. 
                                        From our freshly baked breads to our hand-decorated cakes, each of our products is a true delight for the senses. <br><br>

                                                At Velvet, our goal is to provide our customers with the best bakery and pastry experience. We strive to exceed your 
                                                expectations and provide you with high-quality products that make you smile. Come visit us and enjoy a true culinary pleasure at Velvet. 
                                                We're looking forward to seeing you!</p>
                                                <h1> Our values</h1> <br><br>
                                                        <p>At Velvet, we hold ourselves to high standards of excellence and integrity. We are committed to providing our customers with high-quality 
                                                            baked goods while also promoting sustainability and social responsibility. <br><br>

                                                                    Quality: We believe that quality should be the cornerstone of everything we do. That's why we use only fresh and natural ingredients in our products, and we never compromise on taste or quality. <br><br>

                                                                            Innovation: We are passionate about innovation and creativity. Our team of bakers and pastry chefs is constantly experimenting with new flavors, techniques, and designs to bring you unique and delicious products. <br><br>

                                                                                    Sustainability: We care deeply about the environment and strive to minimize our impact on the planet. We use sustainable packaging and materials whenever possible, and we source our ingredients locally to reduce our carbon footprint. <br><br>
                                                                                            </p> 

                                                                                            </div>

                                                                                            </div>
                                                                                            </section>
                                                                                            </body>
                                                                                            </html>