<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Velvet Bakery - Registro</title>
    </head>
    <body class="d-flex flex-column min-vh-100" style="background-image: "../img/backery background.jfif"">
        <!---About us body--->
        <section th:fragment="AboutUs">
            <div class="containerAU" >
                <img src="../img/Strawberry Cake Roll Love and Olive Oil.jpg" alt="about us" class="ImagenAboutAU" >
                    <div class="contentAU">
                        <h1 class="t">[[#{about.us.1}]]</h1> <br>
                            <p class="te">[[#{about.us.2}]] <br><br>

                                        [[#{about.us.3}]]<br><br>

                                                [[#{about.us.4}]]</p>
                                                <h1>[[#{about.us.5}]]</h1> <br><br>
                                                        <p>[[#{about.us.6}]] <br><br>

                                                                    [[#{about.us.7}]]<br><br>

                                                                            [[#{about.us.8}]]<br><br>

                                                                                    [[#{about.us.9}]]<br><br>
                                                                                            </p> 

                                                                                            </div>

                                                                                            </div>
                                                                                            </section>
                                                                                            </body>
                                                                                            </html>