@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}

.topnavAU {
    overflow: hidden;
    background-color: transparent;
}

.topnav aAU {
    height: 15vh;
    margin: auto;
    align-items: center;
    display: flex;
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 21px;
}

.topnav a.activeAU {
  background-color: #04AA6D;
  color: white;
  border-radius: 30px;
  margin-top: 3px;
}

.topnav aAU:hover {
    text-decoration:underline;
    color: black;
}

.topnav-rightAU {
    float: right;
}

.containerAU{

    height:130%;
    width:100%;
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position:relative;
    background: linear-gradient(180deg,    #ffffff    10%,   #c8f5e5   50% ,
        #ffffff     100% );

}
.tophrAU{

    margin-top: 40px;

}

.logoAU{
    width: 350px;
    cursor: pointer;
    margin-left: -50px;
    margin-top: 25px;
}

aAU:hover {
    text-decoration:underline;
}

.picturesAU {

    height: 250px;
    width: 200px;
    display: inline-block;
    border: double 2px antiquewhite;
    border-radius: 10px;

}

.contentAU h1{

    font-size: 60px;
    font-weight: 100;
    color:#B39B96;
    text-align: center;
    margin-top: 50px;
}


.contentAU p{

    font-size:20px;
    color: #65098C;
    text-align: justify;
    margin-right: 25%;
    margin-left: 25%;

}

.contentAU{
    margin-left: 10%;
    text-align: center;
}

.fondoAU{

    height: 50%;
    position: absolute;
    bottom: 50px;
    right: 160px;

}


.content divAU{

    display: inline-block;
    height: 20vw;
    width: 45%;

}

.ImagenAboutAU{

    margin-top: 200px;
    margin-left: 1450px;
    position:absolute;
    width: 300px;
    border-radius: 10px;

}

.divleftAU{

    box-sizing: border-box;
    margin-left: -5%;
    margin-bottom:  10px;
    position: relative;
    top: 0%;
    text-align: center;


}

.divRIGHTAU{

    box-sizing: border-box;
    background-color: lightblue;
    margin-left: 10%;
    position: relative;
    text-align: center;

}



footer aAU {
    color: blue;
}

footer aAU:hover {
    color: lightblue;
}

footerAU {
    text-align: center;
    display: block;
    padding: 3px;
    background-color:   #F0F0F0;
    color: black;
    border-top: solid #ffffff 2px;


}

.footerLAU{
    display: inline-block;
    text-align: left;
    width: 48%;
}

.footerRAU{
    display: inline-block;
    text-align: right;
    width: 48%;
}

.rightPAU{
    float:right;
    margin: 1%;
}

.leftPAU{
    float:left;
    margin: 1%;
}

footer hrAU{

    width: 70%;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    border-top: dotted white 2px;
    box-sizing: border-box;
    margin-left: 15%;

}

