<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="css/index.css">
    <script src="idioma.js"></script>
      
    </head>

    <body>
        <div class="mycontainer" > 
            <div class="topnav">

                <a href="index.html"><img src="img/Velvet Logo.png" alt="Aqui va el logo" class="mylogo"/></a>
                <a href="aboutUs.html" id="aboutUs">About Us</a>
                <a href="menu.html" id="Menu">Menu</a>
                <a href="locations.html" id="Locations">Locations</a>
                <a href="/mostrarcarrito" id="Cart">Cart</a>

                <div class="topnav-right">
                    <a class="active" href="order.html" id="OrderNow">ORDER NOW</a>
                    <a href="/usuario/registro" id="Login">Login</a>
                </div>
            </div>
            <hr class="tophr">
            <div class="content">
                <h1 class="h1"><b id="h1">Life is short,</b> <br> <b id="h12">eat dessert first</b></h1>

                <div class="container">
                    <div class="row">
                        <div class="column-66">
                            <h1 class="xlarge-font"><b id="cookies">Cookies</b></h1>
                            <h1 class="large-font" style="color:MediumSeaGreen;"><b id="loveem">We all love them, right?</b></h1>
                            <p><span style="font-size:36px" id="eatone">Just eat one.</span> <span id="thankuslater">You will thank us later.</span></p>
                            <a href="/cookie"><button class="button" style="background-color:MediumSeaGreen">Order Now</button></a>
                        </div>
                        <div class="column-33">
                            
                            <img src="img/Vegan_Chocolate_Mini_Cakes_With_Coconut_Milk_Ganache.jpg" alt="" class="pictures"/>
                        </div>
                    </div>
                </div>

                <div class="container" style="background-color:transparent">
                    <div class="row">
                        <div class="column-33">
                            <img src="img/cakeshop.png" alt="" class="mypictures"/>

                        </div>
                        <div class="mycolumn-66">
                            <h1 class="xlarge-font"><b>What about a snack?</b></h1>
                            <h1 class="large-font" style="color:MediumSeaGreen;"><b>You will not regret</b></h1>
                            <p>Try our best croissants just for $8! We have several options in case you want something different too, make sure you take a look!</p>
                            <a href="/snack"><button class="button" style="background-color:MediumSeaGreen">Take me there!</button></a>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="column-66">
                            <h1 class="xlarge-font"><b>We have the best cakes in town</b></h1>
                            <h1 class="large-font" style="color:MediumSeaGreen;"><b>Need one for a special occasion?</b></h1>
                            <p><span style="font-size:36px">We've got you covered!</span> Just let us know exactly what type of cake you are looking for and get it for you.</p>
                            <a href="/cookie"><button class="button">Yes, please</button></a>
                        </div>
                        <div class="column-33">
                            <img src="img/strawberry cake.jpg" alt="" class="pictures">
                        </div>
                    </div>
                </div>

                <div class="container" style="background-color:transparent">
                    <div class="row">
                        <div class="column-33">
                            <img src="img/stuffed donut.jpg" alt="" class="mypictures"/>
                        </div>
                        <div class="mycolumn-66">
                            <h1 class="xlarge-font"><b>Shut up and give me a donut</b></h1>
                            <h1 class="large-font" style="color:MediumSeaGreen;"><b>We also have that</b></h1>
                            <p>Make sure you check out our best donuts, we have stuffed donuts too! Only for $4 </p>
                            <a href="/donut"><button class="button" style="background-color:MediumSeaGreen">I want a donut</button></a>
                        </div>
                    </div>
                </div>

                <div class="flex-container">
                    <div class="flex-child magenta">
                        <div class="fondodiv"> 
                            <h1 class="myxlarge-font"><b>Freshed baked cakes shipped <br> nationwide</b></h1>
                            <p class="textodiv">Make sure you check out our best donuts, we have stuffed donuts too! Only for $4 </p>
                        </div>
                        <a href="order.html"><button class="mybutton" style="background-color:MediumSeaGreen">Ship me some!</button></a>
                        <img src="img/backery background.jfif" class=""/>

                    </div>
                    <div class="flex-child green">
                        <div class="fondodiv2"> 
                            <h1 class="myxlarge-font"><b>What exactly are you waiting for?</b></h1>
                        </div>
                        <img src="img/backery background.jfif" class=""/>
                    </div>
                </div>
            </div>
        </div>

        <footer>
            <div class="footerL">
                <button onclick="traducirEsp()">English</button>
                <button onclick="traducirIng()">Spanish</button>
            </div>

            <div class="footerR">
                <p class="rightP">All Material 2025 Velvet, All Rights Reserved</p>
                <p class="rightP"><a href="terms_of_service.html">Terms of Service</a></p>
                <p class="rightP"><a href="privacy_policy.html">Privacy Policy</a></p>
            </div>
        </footer> 
    </body>
</html>